<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{base :: head}"></div>
<body>
<div th:replace="~{base :: header}"></div>
<div class="container">
    <div>
        <span>Войти</span>
        <span><a th:href="@{/signup}">Зарегистрироваться</a></span>
    </div>

    <form class="form" th:action="@{/login}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${param.error}">
            <span>Некорректный логин или пароль</span>
        </div>
        <div class="alert alert-success" role="alert" th:if="${param.success_signup}">
            <span>Регистрация выполнена успешно</span>
        </div>
        <div class="form-field">
            <span>Логин</span>
            <input required id="username" name="username" type="text">
        </div>
        <div class="form-field">
            <span>Пароль</span>
            <input required id="password" name="password" type="password">
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Войти</button>
    </form>
</div>
<script th:replace="~{base :: script}"></script>
</body>
</html>