<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<div th:replace="~{base :: head}"></div>
<body>
<div th:replace="~{base :: header}"></div>
<div class="container">
    <h2>Каталог</h2>

    <h4 th:if="${products.size() == 0}">Каталог пуст</h4>

    <div class="product" th:each="product : ${products}" th:fragment="products">
        <img class="product-photo" th:src="${product.getImage()}">
        <div class="product-description">
            <span class="font-weight-bold" th:text="${product.getName()}"></span>
            <u><span th:text="${product.getPrice()}"></span> рублей</u>
            <span class="lead" th:text="${product.getDescription()}"></span>
        </div>
    </div>

</div>
<script th:replace="~{base :: script}"></script>
</body>
</html>